body{
  background-color: rgb(44, 0, 84);
  color: white;
}
.movie-list > .row {
  overflow-x: auto;
  flex-wrap: nowrap
}

.image-container{
  position:  relative;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.image-container:hover .overlay {
  opacity: 1;
}

.overlay{
  position: absolute;
  background:rgba(0,0,0,0.8);
  width: 100%;
  transition: 0.5 ease;
  -webkit-transition: 0.5 ease;
  -moz-transition: 0.5 ease;
  -ms-transition: 0.5 ease;
  -o-transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size:20px;
  padding:20px;
  text-align: center;
}
